<!--gwitter/templates/registration/password_change_form.html-->
{% extends 'base.html' %}



{% block content %}

<div class="column is-one-third">
    <div class="block">

        <h2>
            <strong>Change Password</strong>
        </h2>
        
    </div>
        
    <div class="block">
        <div class="block">
            <form method="post">
                {% csrf_token %}
                    <div class="block">
                        {{ form.as_p }}
                    </div>
                <input type="submit" value="Change">
            
            </form>
        </div>
    
        <a href="{% url 'gwitter:dashboard' %}">Return to Dashboard</a>
    
    </div>


</div>

{% endblock %}